<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>User</title>

</head>
<body>
<div class="user-info">

    <p th:text="${user.getId()}">VALUE</p>
    <p th:text="${user.getName()}">VALUE</p>
    <p th:text="${user.getSurname()}">VALUE</p>
    <p th:text="${user.getEmail()}">VALUE</p>
    <p th:text="${user.getUsername()}">VALUE</p>
    <p th:text="${user.getPassword()}">VALUE</p>
    <p>Roles:</p>
    <ul>
        <li th:each="role : ${user.roles}" th:text="${role.name}"></li>
    </ul>

    <a th:href="@{/logout}">Logout</a>
</div>

</body>
</html>